* {box-sizing: border-box}
h3{
  text-align: center;
  font-size: 50px;
  margin: 10px;
}
body {
  margin: 0;
  flex-direction: column;
}
h1 {
  margin: 0;
  height: 50px;
}
#cabecera {
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.664);
  font-size: 20px;
}
.contenido {
  flex-direction: column;
  margin: 0;
  text-align: center;
  width: 80%;
}
.contenido #tablaEmpresas th, #tablaAlumnos th, #tablaAsignaciones th, #tablaProfesor th{
  background-color: rgb(172, 169, 169);
}
.contenido #tablaEmpresas td, #tablaAlumnos td, #tablaAsignaciones td, #tablaProfesor td{
  background-color: rgb(230, 212, 212);
}
/* Estilo del div  "tab" */
.tab {
  float: left;
  background-color: rgba(0, 0, 255, 0.938);
  width: 20%;
  height: 1033px;
}

/* Estilo de los botones del tab */
.tab button {
  display: block;
  background-color: rgba(0, 0, 255, 0.938);
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Cambiar color del hover del boton del tab */
.tab button:hover {
  background-color: rgb(0, 255, 255);
}

/* Cambia el color del boton del tab cuando está activo */
.tab button.active {
  background-color: white;
}

/* Estilo del contenido del tab */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: none;
  width: 70%;
  border-left: none;
  height: 451px;
}

/* Icono */
#icono {
    font-size: 30px;
}

/* Cambia el tamaño de la letra de los linkpestaña*/
.linkpestaña{
    font-size: 20px;
}
/* BOTON MODAL*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .contenido-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  /* Botones de Cerrar */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close5 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close5:hover,
  .close5:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* Tabla profesores */

/* Estilo de los botones de añadir */
.boton {
  background-color: red;
  color: white;
  border: none;
  width: 110px;
  height: 60px;
  margin-left: 49%;
  margin-top: 5%;
  transform: translateX(-30%);
  border-radius: 10%;
  font-size: 20px;
}
.boton:hover{
  background-color: white;
  color: red;
  border: 1px solid black;
  cursor: pointer;
}

#Agregar{
  background-color: blue;
  color: white;
  border: none;
  width: 60px;
  height: 30px;
}
#Agregar:hover{
  background-color: white;
  color: blue;
  border: 1px solid black;
  cursor: pointer;
}

#NombreProfesor {
  width: 300px;
}
#NombreAlumno {
  width: 300px;
}
#Actividad {
  width: 400px;
}
#tablaProfesor {
  width: 500px;
  height: auto;
  position: relative;
  margin-left: 35%;
}
#tablaAlumnos {
  width:700px;
  height: auto;
  position: relative;
  margin-left: 25%;
}
#tablaAsignaciones {
  width:1024px;
  position:relative;
  margin-left: 15%;
}
#Mensaje {
  border: 1px solid black;
  position: relative;
  flex-direction: column;
  width: 20%;
  height: 50px;
  text-align: center;
  justify-content: center;
  background-color: white;
  left: 30%;
  top: 433px;
}
#SeleccionarAlumno{
  height:40px;
  font-size: 20px;
  width: 1024px;
  display: flex;
  margin-left: 16%;
}
#Escolar{
  display: flex;
  flex-direction: column;
  width: 30%;
}
#Empresarial {
  width: 30%;
  display: flex;
  flex-direction: column;
}
#Campos {
  width:1024px;
  text-align: left;
  margin-left:20%;
  padding-top:10px;
}
#CampoImpar {
  width: 100px;
}
#CampoPar {
  width: 200px;
}
#divHorasTotales {
  margin:5%;
}
#HorasTotales {
  width: 150px;
}
#FechaFicha {
  width: 150px;
  margin: 5px;
}
#CamposFicha {
  width:1024px;
  text-align: left;
  margin-left:16%;
  padding-top:10px;
}
#CamposFicha th {
  background-color: rgb(0, 255, 242);
  text-align: center;
  width: 200px;
  font-size: 20px;
}
#CamposFicha td {
  text-align: center;
  height: 100px;
  background-color: rgb(231, 228, 228);
  border-radius: 5%;
}
#CamposFicha tr {
  width: 200px;
}
#CampoDia {
  width:20%;
}
#CampoHoras {
  width: 20%;
}
#SeleccionarAlumno {
  justify-content: center;
}